@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&family=Be+Vietnam+Pro:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.625rem;
    --background: 1 0 0;
    --foreground: 0.145 0 0;
    --card: 1 0 0;
    --card-foreground: 0.145 0 0;
    --popover: 1 0 0;
    --popover-foreground: 0.145 0 0;
    --primary: 0.205 0 0;
    --primary-foreground: 0.985 0 0;
    --secondary: 0.97 0 0;
    --secondary-foreground: 0.205 0 0;
    --muted: 0.97 0 0;
    --muted-foreground: 0.556 0 0;
    --accent: 0.97 0 0;
    --accent-foreground: 0.205 0 0;
    --destructive: 0.577 0.245 27.325;
    --destructive-foreground: 0.985 0 0;
    --border: 0.922 0 0;
    --input: 0.922 0 0;
    --ring: 0.708 0 0;
    --chart-1: 0.646 0.222 41.116;
    --chart-2: 0.6 0.118 184.704;
    --chart-3: 0.398 0.07 227.392;
    --chart-4: 0.828 0.189 84.429;
    --chart-5: 0.769 0.188 70.08;
    --sidebar: 0.985 0 0;
    --sidebar-foreground: 0.145 0 0;
    --sidebar-primary: 0.205 0 0;
    --sidebar-primary-foreground: 0.985 0 0;
    --sidebar-accent: 0.97 0 0;
    --sidebar-accent-foreground: 0.205 0 0;
    --sidebar-border: 0.922 0 0;
    --sidebar-ring: 0.708 0 0;
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-on-surface;
    min-height: max(884px, 100dvh);
    font-family: "Be Vietnam Pro", sans-serif;
  }
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  font-size: inherit;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga";
  user-select: none;
}

.neo-brutal-shadow {
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1);
}

.neo-brutal-shadow-sm {
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 1);
}

.neo-brutal-press:active {
  transform: translate(2px, 2px);
  box-shadow: none;
}
